
teFinder
teFinder
teFinder_amd64
teFinder_arm64
teFinder_darwin_amd64
teFinder_darwin_arm64
teFinder_darwin_ppc64
teFinder_darwin_ppc64le
teFinder_darwin_s390x
teFinder_linux_amd64
teFinder_linux_arm64
teFinder_linux_ppc64
teFinder_linux_ppc64le
teFinder_linux_s390x
teFinder_ppc64
teFinder_ppc64le
teFinder_s390x
